<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap" version="4.4.1" targetFramework="net46" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net452" />
  <package id="FontAwesome" version="4.7.0" targetFramework="net46" />
  <package id="Grid.Mvc" version="3.0.0" targetFramework="net46" />
  <package id="jQuery" version="3.0.0" targetFramework="net46" />
  <package id="jQuery.Validation" version="1.11.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net46" />
  <package id="Microsoft.AspNet.Mvc.pl" version="5.2.7" targetFramework="net46" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net46" />
  <package id="Microsoft.AspNet.Razor.pl" version="3.2.7" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebPages.pl" version="3.2.7" targetFramework="net46" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.3" targetFramework="net452" />
  <package id="Microsoft.DependencyValidation.Analyzers" version="0.10.0" targetFramework="net46" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.Net.Compilers" version="1.3.2" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="Modernizr" version="2.6.2" targetFramework="net452" />
  <package id="NetOffice.Core" version="1.7.4.4" targetFramework="net46" />
  <package id="OpenCover" version="4.7.922" targetFramework="net46" />
  <package id="popper.js" version="1.16.0" targetFramework="net46" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net46" />
  <package id="Unity" version="5.11.1" targetFramework="net46" />
  <package id="Unity.Mvc5" version="1.4.0" targetFramework="net46" />
  <package id="Word2016.Interop" version="1.0.0" targetFramework="net46" />
</packages>